{% extends 'layout/base.html.twig' %}

{% block body %}
    <turbo-frame id="contact_form">
        <div class="text-center">
            <span class="display-4 fw-bolder mb-5"><span class="text-gradient d-inline">Request successfully received.</span></span>
        </div>
    </turbo-frame>
{% endblock %}